<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fontbonne.ley.clerc.lockbreaker">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="reversePortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="reversePortrait" />
        <activity
            android:name=".RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="reversePortrait" />
        <activity
            android:name=".StartGameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="reversePortrait" />
        <activity
            android:name=".OptionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="reversePortrait" />
        <activity
            android:name=".StatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="reversePortrait" />
        <activity
            android:name=".MisleadingColorsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_misleading_colors"
            android:screenOrientation="reversePortrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".SimilarQuizActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_similar_quiz"
            android:screenOrientation="reversePortrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FinalScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_final_screen"
            android:screenOrientation="reversePortrait"
            android:theme="@style/AppTheme" />

        <service android:name=".WearService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />

                <data
                    android:host="*"
                    android:pathPrefix=""
                    android:scheme="wear" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix=""
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <activity
            android:name=".SpaceWordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_space_word"
            android:screenOrientation="reversePortrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PerilousJourneyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="reversePortrait" />
        <activity
            android:name=".StepByStepActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="reversePortrait" />
        <activity
            android:name=".SymbolsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_symbols"
            android:screenOrientation="reversePortrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MazeControlsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_maze_controls"
            android:screenOrientation="reversePortrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".WaldoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="WaldoActivity"
            android:screenOrientation="reversePortrait" />
        <activity
            android:name=".InvisibleMazeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_invisible_maze"
            android:screenOrientation="reversePortrait"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".EncryptedActivity" />
        <activity
            android:name=".TutorialActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>